.about-us-container {
    max-height: fit-content;
    color: white !important;
    text-align: left ;
    background-size: cover !important;
    background-position: center !important;
    background: linear-gradient(92.73deg, #2A2727, rgba(55, 49, 49, 0.685275), rgba(101, 90, 90, 0)), url("../assets/about-us-image.jpg");
}

.about-us{
    background-color: inherit;
    padding: 4rem 0rem;
    box-sizing: border-box;
    font-size: 14px !important;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-size: cover;
}

.about-us-features{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 5rem;
    margin-top: 2rem;
    background-color: rgba(154, 194, 59, 1);
    max-width: 800px;
    border-radius: 10px;
    color: black;
    padding: 1.5rem;
}

.feature-individual{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    max-width: 250px;
    background-color: inherit;  
}


.about-us .outline-button{
    margin-top: 2rem;
    font-size: 16px !important;
    padding: 0.7rem 1.5rem !important;
    color: white !important;
    border: 2px solid #C6AD2E !important;
    border-radius: 5px;
    background-color: transparent !important;
}

.about-us .outline-button:hover{
    border: 2px solid #e1cf76 !important;
}

.divider{
    width: 1px;
    align-self: center;
    border-left: 3px solid;
      border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    height: 100px;
}




.feature-individual .material-symbols-outlined{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 200;
    background-color: white;
    width: 35px !important; 
    height: 35px !important;
    padding: 5px !important;
    border: none;
}


.feature-individual .heading{
    display: flex;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 16px;
    color:var(--dark-text-color);
}

.feature-individual .text{
    display: flex;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    color:var(--dark-text-color);
}


.about-us .section-tag{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 0;
    background-color: inherit !important;
    border: none;
}

.about-us .section-header{
    color: white;
    max-width: 600px;
    text-align: left !important;
    
}


@media (max-width: 768px) {
    .about-us-features{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-us{
        justify-content: center;
        align-items: center;
        max-width: 100%;
        text-align: center !important;
        width: 100%;
    }

    .divider{
        display: none;
    }

    .about-us-container{
        text-align: center !important;

    }
    .about-us .section-header{
        text-align: center !important;

    }
    .feature-individual{
        text-align: center !important;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
