.blog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.blog-card{
    cursor: pointer;
    height: fit-content;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 20px;

}


.blog-card:hover{
    background-color: white !important;
}


.blog-grid img:hover{
    transform: scale(1.02);
}

.blog-grid img{
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 15/10 !important;

    object-fit: cover;
}

.blog-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: fit-content !important;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.blog-content .meta-data{
    font-size: 14px;
    color: var(--card-text-color);
}

.blog-content .title{
    font-weight: 600;
}

.blog-content .description {
    font-size: 16px;
    color: var(--card-text-color);
}

.blog-content .cta{
    font-weight: 600;
}

.cta:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 950px) {
    .blog-grid{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 2rem;
    }
}


