.download-container{
    height: 500px;
}


.download{
    background-color: #DFFEE6;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.phones{
    position: relative;
}

.phones img:nth-child(1){
    height: auto;
    max-width: 300px;
    position: relative;
    width: auto;
}

.phones img:nth-child(2){
    height: auto;
    width: auto;
    max-width: 300px;
    position: relative;
    margin-left: -100px;
    transform: scaleX(-1) rotate(10deg)  scale(0.9);
}

.download-content{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.download-text-group {
    display: flex;
    flex-direction: column;
    gap: 20px !important;

}

.download-text-group span:nth-child(1){
    color: var(--card-text-color);
}
.download-header{
    font-size: 50px;
    font-weight: 600;
}

.download-buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.download-buttons .fa{
    color: white ;
    font-size: 36px;
    text-decoration: none;
}

.download-buttons button{
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2rem;
    background-color: black;
    justify-content: flex-start !important;
    text-align: left;
    align-items: center !important;
    color: white;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.download-buttons button .sub-header{
    font-size: 14px;
    font-weight: 600;
}

.download-buttons button .header{
    font-size: 24px;
    font-weight: 600;
}

.download-buttons button .cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


@media (max-width: 1300px) {
    .download-buttons button .sub-header{
        font-size: 12px;
        font-weight: 600;
    }

    .download-buttons button .header{
        font-size: 18px;
        font-weight: 600;
    }


    .download-buttons .fa{
        color: white ;
        font-size: 20px !important;
    }
    .download-header{
        font-size: 30px;
        font-weight: 600;
    }

    .phones img:nth-child(1){
        height: auto;
        max-width: 200px;
        position: relative;
        width: auto;
    }

    .phones img:nth-child(2){
        height: auto;
        width: auto;
        max-width: 200px;

        position: relative;
        margin-left: -100px;
        transform: scaleX(-1) rotate(10deg)  scale(0.9);
    }


}


@media (max-width: 850px) {
    .download-buttons button .sub-header{
        font-size: 12px;
        font-weight: 600;
    }

    .download-buttons button .header{
        font-size: 18px;
        font-weight: 600;
    }



    .download-buttons .fa{
        color: white ;
        font-size: 20px !important;
    }
    .download-header{
        font-size: 30px;
        font-weight: 600;
    }

    .phones img:nth-child(1){
        height: auto;
        max-width: 200px;
        position: relative;
        width: auto;
    }

    .phones img:nth-child(2){
        height: auto;
        width: auto;
        max-width: 200px;

        position: relative;
        margin-left: -100px;
        transform: scaleX(-1) rotate(10deg)  scale(0.9);
    }

    .download{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding: 4rem 2rem;

    }
    .download-content{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .download-container{
        height: fit-content;
    }

}



@media (max-width: 450px) {


    .download-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .phones img:nth-child(1){
        height: auto;
        max-width: 150px;
        position: relative;
        width: auto;
    }

    .phones img:nth-child(2){
        height: auto;
        width: auto;
        max-width: 150px;

        position: relative;
        margin-left: -150px;
        transform: scaleX(-1) rotate(10deg)  scale(0.9);
    }

    .download-buttons button .sub-header{
        font-size: 14px;
        font-weight: 600;
    }

    .download-buttons button .header{
        font-size: 18px;
        font-weight: 600;
    }

    .download{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding: 4rem 1rem;

    }
    .download-content{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .download-container{
        height: fit-content;
    }

}